<div class="main_navigation" id = "nav">
   
    {{ page.main_navigation }}
    <button class = "hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>
    
</div>
<div class = "banner">
    {{ page.banner }}
    <div class="bannertext">
    {{page.bannertext}}
    </div>
</div>
<div class="featured">
    {{page.featured}}
    <div class = "first">
    {{page.feature1}}
    </div>
    <div class = "second">
        {{page.feature2}}
    </div>
    <div class = "third">
    {{page.feature3}}
    </div> 
</div>
<div class = "fourth">
{{page.feature4}}
</div>
<div class="about_us">
    {{page.aboutus}}
</div>
<div class = "container">
    <div class="content">
        {{ page.content }}
    </div>
    <div class="sidebar">
        {{ page.sidebar }}
    </div>
</div>
<div class="footer">
{{ page.footer1 }}
{{ page.footer2 }}
{{ page.footer3 }}
{{ page.footer4 }}
</div>
<div class="copyright">
    {{ page.copyright }}
</div>